body {
    background: #111;
    color: #eee;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.card {
    background: #222;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #333;
}

.node-box {
    background: #333;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.debug-box {
    background: #000;
    padding: 8px;
    height: 200px;
    overflow-y: scroll;
    border-radius: 8px;
    border: 1px solid #444;
}
